@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --backgroundbackground-0: rgba(249, 246, 242, 1);
  --backgroundbackground-2: rgba(255, 255, 255, 1);
  --bold-title-medium-font-family: "Inter", Helvetica;
  --bold-title-medium-font-size: 16px;
  --bold-title-medium-font-style: normal;
  --bold-title-medium-font-weight: 700;
  --bold-title-medium-letter-spacing: 0.024000000953674317px;
  --bold-title-medium-line-height: 24px;
  --medium-body-large-font-family: "Inter", Helvetica;
  --medium-body-large-font-size: 16px;
  --medium-body-large-font-style: normal;
  --medium-body-large-font-weight: 500;
  --medium-body-large-letter-spacing: 0.08px;
  --medium-body-large-line-height: 24px;
  --medium-body-small-font-family: "Manrope", Helvetica;
  --medium-body-small-font-size: 12px;
  --medium-body-small-font-style: normal;
  --medium-body-small-font-weight: 500;
  --medium-body-small-letter-spacing: 0.048000000715255745px;
  --medium-body-small-line-height: 16px;
  --medium-heading-small-font-family: "Inter", Helvetica;
  --medium-heading-small-font-size: 20px;
  --medium-heading-small-font-style: normal;
  --medium-heading-small-font-weight: 500;
  --medium-heading-small-letter-spacing: 0px;
  --medium-heading-small-line-height: 32px;
  --neutralneutral-0: rgba(224, 219, 213, 1);
  --neutralneutral-1: rgba(213, 208, 201, 1);
  --primaryprimary-2: rgba(19, 19, 19, 1);
  --regular-title-large-font-family: "Inter", Helvetica;
  --regular-title-large-font-size: 20px;
  --regular-title-large-font-style: normal;
  --regular-title-large-font-weight: 400;
  --regular-title-large-letter-spacing: 0px;
  --regular-title-large-line-height: 30px;
  --semi-bold-display-large-font-family: "Inter", Helvetica;
  --semi-bold-display-large-font-size: 58px;
  --semi-bold-display-large-font-style: normal;
  --semi-bold-display-large-font-weight: 600;
  --semi-bold-display-large-letter-spacing: -0.145px;
  --semi-bold-display-large-line-height: 72px;
  --semi-bold-display-medium-font-family: "Inter", Helvetica;
  --semi-bold-display-medium-font-size: 48px;
  --semi-bold-display-medium-font-style: normal;
  --semi-bold-display-medium-font-weight: 600;
  --semi-bold-display-medium-letter-spacing: 0px;
  --semi-bold-display-medium-line-height: 60px;
  --semi-bold-heading-large-font-family: "Inter", Helvetica;
  --semi-bold-heading-large-font-size: 32px;
  --semi-bold-heading-large-font-style: normal;
  --semi-bold-heading-large-font-weight: 700;
  --semi-bold-heading-large-letter-spacing: 0px;
  --semi-bold-heading-large-line-height: 40px;
  --semi-bold-title-large-font-family: "Inter", Helvetica;
  --semi-bold-title-large-font-size: 18px;
  --semi-bold-title-large-font-style: normal;
  --semi-bold-title-large-font-weight: 600;
  --semi-bold-title-large-letter-spacing: 0px;
  --semi-bold-title-large-line-height: 22px;
  --semi-bold-title-medium-font-family: "Inter", Helvetica;
  --semi-bold-title-medium-font-size: 16px;
  --semi-bold-title-medium-font-style: normal;
  --semi-bold-title-medium-font-weight: 600;
  --semi-bold-title-medium-letter-spacing: 0.024000000953674317px;
  --semi-bold-title-medium-line-height: 24px;
  --tertiarytertiary-0: rgba(227, 168, 87, 1);
  --textinverse-text: rgba(255, 255, 255, 1);
  --textprimary-text: rgba(43, 43, 43, 1);
  --textsecondary-text: rgba(78, 78, 78, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
